.post-pagination {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-top: 4rem;
  padding-top: 2rem;
  border-top: 1px solid #eee;
  font-size: 0.95rem;
}

.post-prev,
.post-next {
  width: 48%;
}

.post-prev {
  text-align: left;
}

.post-next {
  text-align: right;
}

.post-pagination a {
  text-decoration: none;
  color: #333;
}

.post-pagination a:hover {
  text-decoration: underline;
}
