<!--
기본 블로그 html
-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} · {{ site.title }}</title>

  <link rel="stylesheet" href="/assets/css/main.css">

  <!-- KaTeX -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css">
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js"
    onload="renderMathInElement(document.body);"></script>
</head>

<body>
  <div class="layout">
    <nav class="sidebar">
      <div class="sidebar-title">Categories</div>
    
      <ul class="sidebar-section">
        {% for section in site.category_tree %}
          <li class="sidebar-section-item">
      
            {% assign section_post_count = 0 %}
            {% for cat in section[1].children %}
              {% assign count = site.categories[cat] | size %}
              {% assign section_post_count = section_post_count | plus: count %}
            {% endfor %}
      
            <!-- 범주 헤더 -->
            <button class="sidebar-section-toggle">
              <span class="arrow">▶</span>
              <span class="section-title">
                {{ section[1].title }}
                <span class="category-count">({{ section_post_count }})</span>
              </span>
            </button>
      
            <!-- 하위 카테고리 -->
            <ul class="sidebar-sub">
              {% for cat in section[1].children %}
                {% assign post_count = site.categories[cat] | size %}
      
                <li class="sidebar-category-item">
                  <a href="/category/{{ cat }}/">
                    {{ cat | replace: '-', ' ' | upcase }}
                    <span class="category-count">({{ post_count }})</span>
                  </a>
                </li>
              {% endfor %}
            </ul>
      
          </li>
        {% endfor %}
      </ul>

    </nav>


    <main>
        {{ content }}
    </main>

    <aside class="right-sidebar">
      <div class="right-sidebar-content">
        <img src="{{ '/assets/images/profile.JPG' | relative_url }}" alt="preview">
        <p class="right-sidebar-text">
          HI, I'm Son JeongWoo from Seoul, Korea<br>
          Sogang Univ Art & Technology.
        </p>
      </div>
    </aside>

  </div>
  
  <script> 
    // script for active sidebar
    document.addEventListener("DOMContentLoaded", function () {
      const toggles = document.querySelectorAll(".sidebar-section-toggle");

      toggles.forEach(toggle => {
        toggle.addEventListener("click", () => {
          const section = toggle.closest(".sidebar-section-item");
          section.classList.toggle("open");
        });
      });
    });
  </script>
</body>
</html>
