---
layout: default
---

<nav class="post-nav">
  <a href="/">← Home</a>
</nav>

{% assign current_category = page.category %}
{% assign category_posts = site.posts | where: "category", current_category | reverse %}

{% for post in category_posts %}
  {% if post.url == page.url %}
    {% assign index = forloop.index0 %}
  {% endif %}
{% endfor %}

{% assign prev_index = index | minus: 1 %}
{% assign next_index = index | plus: 1 %}

<nav class="post-pagination">

  <div class="post-prev">
    {% if prev_index >= 0 %}
      {% assign prev_post = category_posts[prev_index] %}
      <a class="post-card prev" href="{{ prev_post.url }}">
        <span class="post-label">Previous Post</span>
        <span class="post-title">← {{ prev_post.title }}</span>
      </a>
    {% else %}
      <div class="post-card prev empty"></div>
    {% endif %}
  </div>

  <div class="post-next">
    {% if next_index < category_posts.size %}
      {% assign next_post = category_posts[next_index] %}
      <a class="post-card next" href="{{ next_post.url }}">
        <span class="post-label">Next Post</span>
        <span class="post-title">{{ next_post.title }} →</span>
      </a>
    {% else %}
      <div class="post-card next empty"></div>
    {% endif %}
  </div>

</nav>


<article>
  <header>
    <h1>{{ page.title }}</h1>

    {% if page.paper %}
      <div class="meta">
        <span>{{ page.paper }}</span>
        {% if page.link %}
          · <a href="{{ page.link }}">paper</a>
        {% endif %}
      </div>
    {% endif %}
  </header>

  {{ content }}
</article>
